ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: #5f5b60;
}

li
{
    float: left;
}

li a, .dropbtn
{
    display: inline-block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn
{
    background-color: #7347f8;
}

.dropdown
{
    display: inline-block;
}

.dropbtn-content
{
    display: none;
    position: absolute;
    background-color: #60481f;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropbtn-content a
{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropbtn-content a:hover
{
    background-color: #7347f8;
}

.dropdown:hover .dropbtn-content
{
    display: block;
}

.about
{
    float: right;
}