ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: auto;
    background-color: #f8715f;
}

li
{
    float: left;
}

li a
{
    display: block;
    color: #7347f8;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.actvte)
{
    background-color: #f85b38;
}

.actvte
{
    background-color: #f80815;
}

.about
{
    float: right;
}