body
{
    margin: 0;
}

ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 25%;
    background-color: #f8715f;
    position: fixed;
    height: 100%;
    overflow: auto;
}

li
{
    display: inline;
}

li a
{
    display: block;
    color: #6ca3ff;
    padding: 8px 16px;
    text-decoration: none;
}

li a.header
{
    background-color: #f89cab;
    color: #285cf8;
}

li a.actvte
{
    background-color: #f81c30;
    color: #7643f8;
}

li a:hover:not(.actvte)
{
    background-color: #e2bff8;
    color: #f8e5c4;
}

div
{
    margin-left: 25%;

    padding: 1px 16px;

    height: 1000px;
}